.ListPage{
    width: 75%;
    margin: 0 auto;
}
.header {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    margin: 20px auto 20px 0;

}
.headerBlock{
    display: flex;
    width: 100%;
}
.button{
    margin: 20px 0 20px auto ;
    background-color: #F7EE55;
    color: #000000;
;

}