.TableList{
    display: flex;
    justify-content: center;
    color: var(--font-color-table);
}
th, td{
    color: var(--font-color-table) !important;
}
.pencil{
    width: 25px;
}.delete{
    margin-left: 5px;
    width: 15px;
}