@import "reset";
@import "fonts";



:root {
    --posX:0;
    --posY:0;

    --font-family-main-bold: "CeraPro-Bold", serif;
    --font-family-main: "CeraPro-Regular", serif;
    // font  s
    --font-size-small-main: 15px;
    --font-line-height-small-main: 140%;
    --font-small-main: var(--font-size-small-main) / var(--font-line-height-small-main) var(--font-family-main) ;

        // font   filter
    --font-size-small-main-filter: 14px;
    --font-size-small-check-filter: 13px;
    --font-size-small-check-item-filter: 12px;
    --font-line-height-small-main-filter: 140%;
    --font-small-main-filter: var(--font-size-small-main-filter) / var(--font-line-height-small-main-filter) var(--font-family-main) ;
    --font-small-check-filter: var(--font-size-small-check-filter) / var(--font-line-height-small-main-filter) var(--font-family-main) ;
    --font-small-check-item-filter: var(--font-size-small-check-item-filter) / var(--font-line-height-small-main-filter) var(--font-family-main) ;


    // font logo m
    --font-size-medium-main: 24px;
    --font-line-height-medium-main: 140%;
    --font-medium-main: var(--font-size-medium-main) / var(--font-line-height-medium-main) var(--font-family-main) ;


    // font logo l
    --font-size-large-main: 38px;
    --font-line-height-large-main: 120%;
    --font-weight-large-main: 700;
    --font-large-main: var(--font-weight-large-main) var(--font-size-large-main) / var(--font-line-height-large-main) var(--font-family-main) ;

    // font logo xl
    --font-size-extra-large-main: 46px;
    --font-line-height-extra-large-main: 110%;
    --font-weight-extra-large-main: 700;
    --font-extra-large-main: var(--font-weight-extra-large-main) var(--font-size-extra-large-main)  / var(--font-line-height-extra-large-main) var(--font-family-main)  ;


    // button
    --font-size-button: 13px;
    --font-line-height-button: 140%;
    --font-weight-button: 500;
    --font-button: var(--font-weight-button) var(--font-size-button)  / var(--font-line-height-button) var(--font-family-main)  ;

        // active button
    --font-active-button: var(--font-weight-button) var(--font-size-button)  / var(--font-line-height-button) var(--font-family-main-bold)  ;

        // input
    --font-size-input: 10px;
    --font-line-height-input: 140%;
    --font-weight-input: 500;
    --font-input: var(--font-weight-input) var(--font-size-input)  / var(--font-line-height-input) var(--font-family-main)  ;




    // font  s -mobile
    --font-size-small-main-mobile: 16px;
    --font-line-height-small-main-mobile: 140%;
    --font-small-main-mobile: var(--font-size-small-main) / var(--font-line-height-small-main) var(--font-family-main) ;


        // font logo xl -mobile
    --font-size-extra-large-main-mobile: 24px;
    --font-line-height-extra-large-main-mobile: 160%;
    --font-weight-extra-large-main-mobile: 700;
    --font-extra-large-main-mobile: var(--font-weight-extra-large-main-mobile) var(--font-size-extra-large-main-mobile)  / var(--font-line-height-extra-large-main-mobile) var(--font-family-main)  ;





    --font-family-logo:  "Airfool", serif;

    // s
    --font-size-small-logo: 25px;
    --font-line-height-small-logo: normal;
    --font-style-small-logo: normal;
    --font-weight-small-logo: 400;

    --font-small-logo: var(--font-size-small-logo) / var(--font-line-height-small-logo) var(--font-family-logo);

    //// m
    --font-size-medium-logo: 72px;
    --font-line-height-medium-logo: normal;
    --font-medium-logo: var(--font-size-medium-logo) / var(--font-line-height-medium-logo) var(--font-family-logo);

    //// l
    --font-size-large-logo: 96px;
    --font-line-height-large-logo: normal;
    --font-large-logo: var(--font-size-large-logo) / var(--font-line-height-large-logo) var(--font-family-logo);

    //// m mobile
    --font-size-medium-logo-mobile: 24px;
    --font-line-height-medium-logo-mobile: normal;
    --font-medium-logo-mobile: var(--font-size-medium-logo-mobile) / var(--font-line-height-medium-logo-mobile) var(--font-family-logo);

        // hashtag date reception pet
    --font-size-hashtag-date-reception: 17px;
    --font-line-height-hashtag-date-reception: normal;
    --font-style-hashtag-date-reception: normal;
    --font-weight-hashtag-date-reception: 400;

    --font-hashtag-date-reception: var(--font-weight-hashtag-date-reception) var(--font-size-hashtag-date-reception) / var(--font-line-height-hashtag-date-reception) var(--font-family-main-bold);



    //--font-size-xl: 32px;
    //--font-line-xl: 40px;
    //--font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);
    //
    //// Размеры
    //--navbar-height: 50px;
    //--sidebar-width: 300px;
    //--sidebar-width-collapsed: 80px;
    //
    //// z - Индексы
    //--modal-z-index: 1000;
    //--overlay-z-index: 100;

    // Цвета
    --app-background: rgba(255, 255, 255, 1);
    --app-accent: rgba(232, 231, 231, 1);
    --app-main-text: rgba(18, 18, 18, 1);
    --app-secondary-text: rgba(18, 18, 18, 0.7);
    --app-main-text-light: rgba(255, 255, 255, 1);
    --app-secondary-text-light: rgba(18, 18, 18, 0.9);
    --app-primary-100: rgba(44, 95, 66, 1);
    --app-primary-20: rgba(44, 95, 66, 0.2);
}

